/* Truco para uniformidad de texto entre navegadores
html {
    font-size: 16px;
}

body {
    font-size: 16px;
}
*/


/*SI QUIERO LLAMAR A UNA CLASE HTMLL EN MI ARCIVHO CSS, SE PONE EL . Y EL NOMBRE DE LA CLASE*/
.my-tittle {
    text-align: center;
    font-size: 3.8rem;
}

.my-tittle span {
    font-size: 2rem;
}